<div class="container-fluid" ng-style="{'background-image':'url(' + imgURL + ')'}">
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<h1 class="triangle-border right">{{exchange}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div ng-repeat="option in options">
				<form name="responseForm" ng-submit="gameCtrl.selectResponse(option)" novalidate>
					<div class="form-group">
						<button type="submit" class="btn-text response-option">{{option.text}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<form name="restartForm" ng-submit="gameCtrl.restart()">
		<div class="form-group">
			<button type="submit" class="btn btn-restart">I'm done</button>
		</div>
	</form>
</div>