<div class="user-response">
	<form name="userResponseForm" ng-submit="userResponseForm.$valid && responseCtrl.submitResponse()" novalidate>
		<div class="form-group">
			<h1>How are feeling you today?</h1>
			<br>
			<textarea type="text" class="form-control input-lg" ng-model="responseCtrl.response" placeholder="I'm good." required></textarea>
			<!-- <p class="info"><i>Your answer is anonymous and will be shared with others</i></p> -->
			<br>
			<button type="submit" class="btn-text response-submit">submit anonymously</button>
		</div>
	</form>
</div>
