html, body, div[ng-view], .container-fluid {
	height: 100%;
}

p, h1 {
	font-weight: 100;
}

.container-fluid {
	background-size: cover;
}

.character {
	margin-top: 60px;
	font-size: 48px;
	font-weight: bold;
	color: #fff;
}

.btn-text {
	background: none;
	border: none;
	font-size: 24px;
	font-style: italic;
}

.btn-restart {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.btn-text:before {
	content: '> ';
}

.response-option {
	color: #fff;
	font-weight: 100;
	padding: 4px 16px;
	background-color: rgba(0,0,0,0.5);
}

.response-option:hover {
	background-color: black;
}

.response-submit {
	color: #aaa;
	font-weight: 100;
}

.user-response {
	color: #000;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.user-response {
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 767px) {
	.user-response { width: 100%; }
	.user-response textarea { width: 96%; }
}

.user-response textarea {
	height: 200px;
	margin: 0 auto;
}

.info {
	color: #aaa;
	padding: 10px 0;
	font-size: 18px;
}

.input-lg {
	border-radius: 0;
	box-shadow: none;
}

.triangle-border {
	position: relative;
	padding: 15px;
	margin: 20px 0;
	color: #000;
	background: rgba(255, 247, 0, 0.52);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.triangle-border.right {
	margin-right: 30px;
}

.triangle-border::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 40px;
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #5a8f00 transparent;
	display: block;
	width: 0;
}

.triangle-border.right::before {
	top: 20px;
	bottom: auto;
	left: auto;
	right: -30px;
	border-width: 15px 0 15px 30px;
	border-color: transparent rgba(255, 247, 0, 0.52);
}

.triangle-border::after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 47px;
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}

.triangle-border.right::after {
	top: 16px;
	bottom: auto;
	left: auto;
	right: -21px;
	border-width: 9px 0 9px 21px;
	border-color: transparent transparent;
}

.main-container {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.main-container {
		left: 120px;
		right: 120px;
	}
}

@media (max-width: 767px) {
	.main-container {
		left: 10px;
		right: 10px;
	}
}

.main-container h1 {
	font-size: 60px;
}

.main-container p {
	font-size: 24px;
	margin: 20px 0;
}

.main-container a {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
}